.DS_Store
**/__pycache__/
blast-2.2.26
Output
*.gz
!galaxy/tool/test-data/test.fsa.gz
!galaxy/tool/test-data/test_reads.fastq.gz
conda/conda_old/
.conda*/
.mypy_cache/
.ruff_cache/
.pmlst*/
dist/
AGENTS*.md
pmlst_old/
tests/
